body {
  background: #0f002b;
  margin: 0;
  padding: 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /*aspect ratio 2:1*/
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.tag_circles {
  transition: all 1s ease-out;
  cursor: pointer;
}

.tag_circles:hover {
}

.hovered_circle {
    fill: #3ac7f5;
    filter: url(#svg_blur);
}

.link {
    stroke: #a5a5a5; /* grey */
    stroke-width: 4px;
}

.background-layer {
    opacity: 30%;
    fill: #808080;
}

.middle-layer {
    fill: #808080;
    opacity: 50%;
}

.foreground-layer {
    fill: #ececde;
}

g.foreground-layer > g > text { /* text on tag bubbles */
    fill: #000000;
    font-size: 12pt;
    font-family: "Arial";
}
